### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [18]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_file = "Resources/schools_complete.csv"
student_file = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_file)
school_data_df=pd.DataFrame(school_data)

student_data = pd.read_csv(student_file)
student_data_df=pd.DataFrame(student_data)

# Combine the data into a single dataset.  
school_data_combined_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name"])
school_data_combined_df.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [19]:
# Calculate the total number of schools
total_schools=school_data_df["school_name"].count()

# Calculate the total number of students
total_students=student_data_df["student_name"].count()

# Calculate the total budget
total_budget=school_data_df["budget"].sum()

# Calculate the average maths score
average_maths_score=student_data_df["maths_score"].mean()

# Calculate the average reading score
average_reading_score=student_data_df["reading_score"].mean()

# Calculate the percentage of students with a passing maths score (50 or greater)
passing_maths=student_data_df.loc[student_data_df["maths_score"]>=50]
pass_percentage_maths=(passing_maths["maths_score"].count()/total_students)*100

# Calculate the percentage of students with a passing reading score (50 or greater)
passing_reading=student_data_df.loc[student_data_df["reading_score"]>=50]
pass_percentage_reading=(passing_reading["reading_score"].count()/total_students)*100

# Calculate the percentage of students who passed maths and reading (% Overall Passing)
total_passing_percentage=(school_data_combined_df[(school_data_combined_df["maths_score"]>=50)&(school_data_combined_df["reading_score"]>=50)]["Student ID"].count()/total_students)*100
total_passing_percentage


# Create a dataframe to hold the above results
local_government_area_summary=pd.DataFrame({"Total Schools":[total_schools],"Total Students":[total_students],"Total Budget":[total_budget],"Average Maths Score":[average_maths_score],"Average Reading Score":[average_reading_score],"Maths Passing Percentage":[pass_percentage_maths],"Reading Passing Percentage":[pass_percentage_reading],"Total Pass Percentage":[total_passing_percentage]})
local_government_area_summary.head()
# Optional: give the displayed data cleaner formatting

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,Maths Passing Percentage,Reading Passing Percentage,Total Pass Percentage
0,15,39170,24649428,70.338192,69.980138,86.078632,84.426857,72.808272

In [20]:
total_students

39170

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [21]:
# Create an overview table that summarises key metrics about each school, including:

# School Name
# School Type
school_name_type=school_data_combined_df.groupby(["school_name","type"])
school_name_type_df=pd.DataFrame(school_name_type)
# Total Students
total_students_in_school=school_name_type["Student ID"].count()
total_students_in_school

# Total School Budget
school_budget=school_name_type["budget"].mean()
school_budget

# Per Student Budget
per_student_budget=school_budget/total_students_in_school
per_student_budget

# Average Maths Score
average_maths_score_per_school=school_name_type["maths_score"].mean()
average_maths_score_per_school

# Average Reading Score
average_reading_score_per_school=school_name_type["reading_score"].mean()
average_reading_score_per_school

# % Passing Maths
passing_maths_per_school=school_data_combined_df[(school_data_combined_df["maths_score"]>=50)]
passing_maths_percentage_per_school=passing_maths_per_school.groupby(["school_name"]).count()["student_name"]/total_students_in_school*100
passing_maths_percentage_per_school

# % Passing Reading
passing_reading_per_school=school_data_combined_df[(school_data_combined_df["reading_score"]>=50)]
passing_reading_percentage_per_school=passing_reading_per_school.groupby(["school_name"]).count()["student_name"]/total_students_in_school*100
passing_reading_percentage_per_school

# % Overall Passing (The percentage of students that passed maths and reading.)
passing_reading_and_maths_percentage=(school_data_combined_df[(school_data_combined_df["reading_score"]>=50)&(school_data_combined_df["maths_score"]>=50)].groupby("school_name")["Student ID"].count()/total_students_in_school)*100
passing_reading_and_maths_percentage

# Create a dataframe to hold the above results
school_summary=pd.DataFrame({"School Type":school_name_type_df,"Total Students":total_students_in_school,"Total School Budget":school_budget,"Per Student Budget":per_student_budget,"Average Maths Score":average_maths_score_per_school,"Average Reading Score":average_reading_score_per_school,"% Passing Maths":passing_maths_percentage_per_school,"% Passing Reading":passing_reading_percentage_per_school,"% Overall Passing":passing_reading_and_maths_percentage})
school_summary

ValueError: Buffer has wrong number of dimensions (expected 1, got 2)

In [16]:
passing_maths_percentage_per_school

school_name            type
Bailey High School     Government     91.639871
Cabrera High School    Independent    90.850377
Figueroa High School   Government     81.654798
Ford High School       Government     82.438846
Griffin High School    Independent    91.212534
Hernandez High School  Government     80.949299
Holden High School     Independent    89.929742
Huang High School      Government     81.693521
Johnson High School    Government     82.062592
Pena High School       Independent    91.683992
Rodriguez High School  Government     90.797699
Shelton High School    Independent    91.538898
Thomas High School     Independent    83.853211
Wilson High School     Independent    82.785808
Wright High School     Independent    91.777778
dtype: float64

In [12]:
result = pd.concat([school_name_type_df, total_students_in_school], axis=1)
result

,0,1,Student ID
0,"(Bailey High School, Government)",Student ID student_name gender ...,NaN
1,"(Cabrera High School, Independent)",Student ID student_name gender year...,NaN
2,"(Figueroa High School, Government)",Student ID student_name gender year...,NaN
3,"(Ford High School, Government)",Student ID student_name gender yea...,NaN
4,"(Griffin High School, Independent)",Student ID student_name gender y...,NaN
5,"(Hernandez High School, Government)",Student ID student_name gender y...,NaN
6,"(Holden High School, Independent)",Student ID student_name gender y...,NaN
7,"(Huang High School, Government)",Student ID student_name gender year...,NaN
8,"(Johnson High School, Government)",Student ID student_name gender yea...,NaN
9,"(Pena High School, Independent)",Student ID student_name gender ...,NaN
10,"(Rodriguez High School, Government)",Student ID student_name gender y...,NaN
11,"(Shelton High School, Independent)",Student ID student_name gender yea...,NaN
12,"(Thomas High School, Independent)",Student ID student_name gender yea...,NaN
13,"(Wilson High School, Independent)",Student ID student_name gender y...,NaN
14,"(Wright High School, Independent)",Student ID student_name gender y...,NaN
"(Bailey High School, Government)",NaN,NaN,4976.0
"(Cabrera High School, Independent)",NaN,NaN,1858.0
"(Figueroa High School, Government)",NaN,NaN,2949.0
"(Ford High School, Government)",NaN,NaN,2739.0
"(Griffin High School, Independent)",NaN,NaN,1468.0
"(Hernandez High School, Government)",NaN,NaN,4635.0
"(Holden High School, Independent)",NaN,NaN,427.0
"(Huang High School, Government)",NaN,NaN,2917.0
"(Johnson High School, Government)",NaN,NaN,4761.0
"(Pena High School, Independent)",NaN,NaN,962.0
"(Rodriguez High School, Government)",NaN,NaN,3999.0
"(Shelton High School, Independent)",NaN,NaN,1761.0
"(Thomas High School, Independent)",NaN,NaN,1635.0
"(Wilson High School, Independent)",NaN,NaN,2283.0
"(Wright High School, Independent)",NaN,NaN,1800.0

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Year

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type